body {
  background-color: rgb(201, 201, 253);
  color: rgb(1, 0, 0);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  color: rgb(254, 255, 169);
}

.card {
  padding: 2em;
  background: white;
  border-radius: 10px;
}

.read-the-docs {
  color: black;
}
